* {
	background-image: none;
	box-shadow: none;
  font-family: "JetBrainsMono Nerd Font"
}

window {
	background-color: rgba(10, 10, 10, 0.9);
}

button {
    border-radius: 15px;
    border-color: rgba(0,0,0,0);
	text-decoration-color: #FFFFFF;
    color: #d6d6d6;
	background-color: rgba(31,31,31,0.8);
	border: 1px solid #131313;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
  margin: 5px;
  font-size: 14px;
  transition: all 0.25s ease;
}

button:focus, button:active, button:hover {
	background-color: rgba(255,255,255,0.25);
	outline-style: none;
  background-size: 22%;
  font-weight: 800;
}

#lock {
    background-image: url("/home/xingyun/.config/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/xingyun/.config/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/home/xingyun/.config/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/home/xingyun/.config/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/home/xingyun/.config/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/home/xingyun/.config/wlogout/icons/reboot.png");
}
