* {
	background-image: none;
	box-shadow: none;
  font-family: "JetBrainsMono Nerd Font"
}

window {
	background-color: rgba(11, 10, 11, 0.9);
}

button {
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
	text-decoration-color: #FFFFFF;
    color: #d6d6d6;
	background-color: rgba(31,31,31,0.7);
	border: 1px solid #131313;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
  margin: 6px;
  font-size: 14px;
}

button:focus, button:active, button:hover {
	background-color: rgba(67,100,179,0.9);
	outline-style: none;
}

#lock {
    background-image: url("/home/xingyun/.config/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/xingyun/.config/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/home/xingyun/.config/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/home/xingyun/.config/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/home/xingyun/.config/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/home/xingyun/.config/wlogout/icons/reboot.png");
}
